version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: inc_backend_prod
    env_file:
      - .env.docker
    environment:
      - PORT=5000
      - REDIS_HOST=172.18.121.72
    volumes:
      - ./backend/uploads:/usr/src/app/uploads
      - ./nginx/certs/cert.pem:/usr/src/app/cert.pem
      - ./nginx/certs/key.pem:/usr/src/app/key.pem
    network_mode: "host"
    depends_on:
      - redis
    restart: always

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
      args:
        ENV_FILE: .env.docker
    container_name: inc_frontend_prod
    command: sh -c "cp -r /app/build/* /frontend_build && tail -f /dev/null"
    volumes:
      - frontend_build:/frontend_build
    networks:
      - inc_prod_network
    restart: "no"

  nginx:
    image: nginx:alpine
    container_name: inc_nginx_prod
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/prod.conf:/etc/nginx/conf.d/default.conf
      - frontend_build:/usr/share/nginx/html
      - ./nginx/certs:/etc/nginx/certs
    depends_on:
      - backend
      - frontend
    networks:
      - inc_prod_network
    restart: always

  redis:
    image: redis:alpine
    container_name: inc_redis_prod
    restart: always
    ports:
      - "6380:6379"
    networks:
      - inc_prod_network

volumes:
  frontend_build:


networks:
  inc_prod_network:
    driver: bridge
