services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: inc_backend_prod
    env_file:
      - .env.docker
    environment:
      - REACT_PORT_HTTP=5000
      - REACT_PORT_HTTPS=5443
      - REDIS_HOST=172.18.121.18
      - REDIS_PORT=6380
    volumes:
      - ./backend/uploads:/usr/src/app/uploads
      - ./nginx/certs/cert.pem:/usr/src/app/cert.pem
      - ./nginx/certs/key.pem:/usr/src/app/key.pem
    network_mode: "host"
    depends_on:
      - redis
    restart: always

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
      args:
        ENV_FILE: .env.docker
    container_name: inc_frontend_prod
    command: sh -c "mkdir -p /var/www/html && cp -r /app/build/* /var/www/html/ && tail -f /dev/null"
    volumes:
      - /var/www/html:/var/www/html
    restart: "no"

  redis:
    image: redis:alpine
    container_name: inc_redis_prod
    restart: always
    ports:
      - "6380:6379"
