version: "3.9"
services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: inc_backend
    env_file:
      - .env
    environment:
      - PORT=80
      - REDIS_HOST=redis
      - MYSQL_HOST=db
      - REACT_PORT_HTTP=80
    volumes:
      - ./backend/uploads:/usr/src/app/uploads
      # Idagdag ang linyang ito para makita ng Docker ang certs mo:
      - ./nginx/certs/cert.pem:/usr/src/app/cert.pem
      - ./nginx/certs/key.pem:/usr/src/app/key.pem
    ports:
      - "${REACT_PORT_HTTP:-5000}:5000"
    networks:
      - inc_network
    depends_on:
      - db
      - redis
    restart: always

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
      args:
        ENV_FILE: .env
    container_name: inc_frontend
    command: sh -c "cp -r /app/build/* /frontend_build && tail -f /dev/null"
    volumes:
      - ./build:/frontend_build
    networks:
      - inc_network
    depends_on:
      - backend
    restart: "no"

  nginx:
    image: nginx:alpine
    container_name: inc_nginx
    ports:
      - "8081:80"
      - "8444:443"
    volumes:
      - ./nginx/local.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/certs:/etc/nginx/certs
      - ./build:/usr/share/nginx/html
    depends_on:
      - backend
      - frontend
    networks:
      - inc_network
    restart: always

  db:
    image: mysql:8.0
    container_name: inc_mysql
    restart: always
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-rootpassword}
    healthcheck:
      test: [ "CMD-SHELL", "mysqladmin ping -h localhost -u $$MYSQL_USER --password=$$MYSQL_PASSWORD" ]
      interval: 10s
      timeout: 10s
      retries: 5
    ports:
      - "3308:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./db/init/ppi.sql:/docker-entrypoint-initdb.d/ppi.sql
    command: --default-authentication-plugin=mysql_native_password
    networks:
      - inc_network

  redis:
    image: redis:alpine
    container_name: inc_redis
    restart: always
    ports:
      - "6380:6379"
    networks:
      - inc_network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: inc_phpmyadmin
    restart: always
    env_file:
      - .env
    environment:
      # Explicitly set PMA_HOST to inc_mysql or db
      - PMA_HOST=db
      - PMA_PORT=3306
      # Prioritize environment vars, falling back to env_file
    ports:
      - "8082:80"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - inc_network

volumes:
  db_data:


networks:
  inc_network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.25.0.0/16
