.floating-label {
  position: relative;
  margin-bottom: 1.5rem;
}

.floating-label input.animated-input {
  padding: 14px 10px;
  font-size: 16px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all 0.3s ease;
  outline: none;
}

.floating-label label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #aaa;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.floating-label input.animated-input:focus + label,
.floating-label input.animated-input:not(:placeholder-shown) + label {
  top: -15px; /* Moves the label above */
  left: 10px;
  font-size: 12px;
  color: #1e1e1f;
}

.animated-input:focus {
  border-color: #1e1e1f;
  box-shadow: 0 0 8px rgba(125, 0, 255, 0.4);
}
